You have X fields selected to trade
<hr/>
Here are all of your fields
<hr/>        
{{#each map}}
	<a href="#" data-id="{{this.uuid}}" class="map_link"><img src="https://maps.googleapis.com/maps/api/staticmap?center={{this.centroid.coordinates.[1]}},{{this.centroid.coordinates.[0]}}&zoom=12&size=300x300&key=AIzaSyAdaFzQqYK2DwqEtxHdcUGU_raymUebynA"></a>
{{/each}}

<script>
	$(".map_link").click(function() {
		var id = $(this).data("id");
		$.get("http://localhost:3000/add/" + id, function( data ) {
			alert( "Load was performed." );
		});
	});
</script>