<style>
body {
	background: url('assets/img/Untitled.jpg') no-repeat;
	background-size: cover;
}
.black {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

</style>
<h1 class="text-center heading-title">Drillio</h1>
<h3 class="text-center heading-tag">Let us help you seed your fields</h3>
<div style="text-align:center;">
	{{#if status}}
		<a href="/login" class="btn btn-success btn-lg heading-button">CONTINUE BROWSING FIELDS</a>
	{{else}}
		<a href="/login" class="btn btn-success btn-lg heading-button">SIGN IN WITH CLIMATE.COM</a>
	{{/if}}
</div>