<div class="col-md-12">
{{#each map}}
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{this.centroid.coordinates.[1]}},{{this.centroid.coordinates.[0]}}&zoom=13&size=340x340&maptype=satellite&key=AIzaSyAdaFzQqYK2DwqEtxHdcUGU_raymUebynA" class="thumbnail" style="display:inline-block;margin-left: 10px;">
{{/each}}
</div>